<h1>Voici tous nos espaces de co-working </h1>

<% @flats.each do |flat| %>
 <li> <%= flat.title %> <%= link_to "GO", flat_path(flat.id) %> </li>
<%end%>

 <%= link_to("CREATE NEW FLAT", new_flat_path, html_options = {class: "btn btn-danger"})%>
