<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <%= image_tag "logo.png", alt: "coworking", size: "80x80" %>
    <!-- <img src="../../assets/images/logo.png" alt="logo"> -->
  </a>

  <!-- Right Navigation -->
      <div class="navbar-wagon-right hidden-xs hidden-sm">
        <a href="" class="navbar-wagon-item navbar-wagon-link">Accueil</a>


          <%if (not user_signed_in?) %>
          <a href="/"></a>
          <div class="navbar-wagon-item">
                <img src="https://media.istockphoto.com/photos/businessman-silhouette-as-avatar-or-default-profile-picture-picture-id476085198" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
              </div>
           <%elsif current_user.photo.present? %>
            <div class="navbar-wagon-item">
              <img src="<%= cl_image_path current_user.photo, height: 300, width: 400, crop: :fill %>" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
            </div>
           <%else%>
              <div class="navbar-wagon-item">
                <img src="https://media.istockphoto.com/photos/businessman-silhouette-as-avatar-or-default-profile-picture-picture-id476085198" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
              </div>
          <%end%>

  </div>

  <!-- Dropdown appearing on mobile only -->
</div>
