<h1> Your reservation : </h1>
<ul>
  <li><b>Start date of your reservation </b><%= @reservation.start_date %></li>
  <li><b>End date of your reservation </b><%= @reservation.end_date %></li>
  <li><b> Flat Title </b><%= @reservation.flat.title %></li>
  <li><b>Flat Description </b> <%= @reservation.flat.description %></li>
</ul>
